section.quote {
  background: rgba(39,35,70,.1);
  overflow: hidden;
  .container {
    z-index: 30;
  }
  .columns.is-gapless {
    margin: 4rem 0;
    @include media-sm {
      margin: 3rem 0;
    }
  }
  .reverse {
    flex-direction: row-reverse;
    .card {
      margin-left: auto;
    }
    .image {
      img {
        margin-right: auto;
        margin-left: 2rem;
      }
    }
  }
  .image {
    position: relative;
    img {
      width: auto;
      margin-left: auto;
      display: flex;
      margin-right: 3rem;
      @include media-md {
        margin-right: unset;
        max-width: 16.25rem;
      }
      @include media-sm {
        margin: 0 auto !important;
      }
    }
    .img-b {
      position: absolute;
      font-size: 11rem;
      color: white;
      font-weight: 700;
      user-select: none;
      @include media-lg {
        font-size: 9rem;
      }
      @include media-md {
        font-size: 5rem;
      }
      @include media-sm {
        line-height: 1;
        left: 0 !important;
        right: unset !important;
        bottom: 0 !important;
        top: unset !important;
      }
      @include media-xs {
        font-size: 4rem;
      }
      @include media-480 {
        display: none;
      }
    }
    &.img-1 {
      img {
        @include media-md {
          margin-left: 0;
        }
      }
      .img-b {
        left: 3rem;
        bottom: -1.5rem;
        @include media-lg {
          left: -4rem;
          bottom: -.4375rem;
        }
        @include media-md {
          left: -1.75rem;
          bottom: .75rem;
        }
      }
    }
    &.img-2 {
      .img-b {
        right: 10rem;
        bottom: -4.5rem;
        @include media-lg {
          right: -2.5rem;
          bottom: -2.5rem;
        }
        @include media-md {
          color: $second;
          right: -1rem;
          bottom: -1.9rem;
        }
      }
      .before {
        position: relative;
        z-index: -1;
        &:before {
          content: '';
          position: absolute;
          right: -13rem;
          top: -38rem;
          height: 61.0625rem;
          width: 85.9375rem;
          background: linear-gradient(106.33deg, white 85.51%, rgba(255, 255, 255, 0) 95.53%);
          opacity: 0.2;
          border-radius: 0 30.53125rem 6.25rem 25rem;
          transform: matrix(-1, 0, 0, 1, 0, 0);
          z-index: 10;
          @include media-md {
            display: none;
          }
        }
        &:after {
          content: '';
          position: absolute;
          left: -67rem;
          bottom: -51rem;
          width: 97.5rem;
          height: 58rem;
          background: linear-gradient(180deg, white 0%, rgba(255, 255, 255, 0) 100%);
          border-radius: 0 20.34375rem 6.25rem 62.5rem;
          z-index: 20;
          @include media-md {
            left: -72rem;
            bottom: -51.2rem;
          }
          @include media-sm {
            left: -59rem;
            bottom: -56rem;
          }
        }
      }
    }
    &.img-3 {
      img {
        margin-right: 5rem;
        @include media-md {
          margin-right: 2.5rem;
        }
      }
      .img-b {
        left: 3rem;
        bottom: -4rem;
        @include media-lg {
          left: -4rem;
          bottom: -3rem;
        }
        @include media-md {
          bottom: -2.0625rem;
          left: -1.75rem;
          color: $second;
        }
      }
    }
  }
  .card {
    box-shadow: none;
    background: transparent;
    max-width: 19rem;
    position: relative;
    overflow: unset;
    @include media-sm {
      margin: 2rem 0 0 0 !important;
      width: 100%;
      max-width: 100%;
      text-align: center;
    }
    &:before {
      content: '';
      position: absolute;
      background: $danger;
      width: 3.75rem;
      height: .0625rem;
      left: -6.25rem;
      top: 1.25rem;
      @include media-md {
        left: -4.375rem;
        width: 3rem;
      }
      @include media-sm {
        display: none;
      }
    }
    h3 {
      line-height: 1.2;
    }
  }
}